html {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
}
.scoreboard {
    height: 25vh;
}
.gameboard {
    height: 50vh;
    display: grid;
    place-items: center;
    gap: 5px;
}
.squares {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    gap: 10px;
}
.box {
    display: grid;
    place-items: center;
    height: 200px;
    width: 200px;
    background-color: green;
    font-size: 10rem;
}